#categories {
	position: relative;
	width: 200px;
	height: 100%;
	border: none;
	margin: none;
	padding: 10px;
}

#items {
	margin-left: 0px;
	margin-top: 0px;
	border: none;
	background: #f9f4f4;
	margin-right: 10px;
	float: none;
	position: relative;

}

.sidebar {
	background: #898484;
	border: none;
	font-color: white;
}

.ds {
	width: 330px;
	height: 240px;
	margin: 0px;
	padding: 10px;
	border: none;
	float: left;
	text-align: center;
	position: relative;
}

.ds-preview {
	width: 320px;
	height: 160px;
	margin: 0px;
	padding: 5px;
	border: 1px #898484 solid;
	background: #fdfdfd;
}

.ds-name {
	width: 320px;
	height: 40px;
	margin: 0px;
	padding: 6px;
	border: none;
}

